/* General */

h1,
h2,
h3,
h4,
h5 {
}

#nextheat {
    font-family: 'Teko', sans-serif;
    background-color: #111111;
    font-weight: 900;
    border-radius: 25px 0 25px 0;
    color: #fff;
    font-size: 3rem;
    padding: 20px;
    justify-content: center;
}

#nextheat #nextheat_title {
    /*color: #013e77;*/
    display: inline;
    text-align: center;
    text-transform: uppercase;
}

#nextheat .nextheat_name {
    display: inline;
}

#nextheat .curr_heat_title {
    font-family: teko, Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    display: inline;
}

#nextheat .curr_event_name {
    display: inline;
}
.nextheat_pilot_box{
    display: inline;
    margin: 0 auto;
    padding-bottom: 50px;
}

.nextheat_pilot {
    display: inline;
}

.nextheat_pilot_name {
    display: inline;
}

.nextheat_pilot_name {
    display: inline;
    padding-right: 10px;
}

.channel-block {
    display: inline;
}